/* /* Some CSS Setup - nothing to do with flexbox */
html {
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  font-family: sans-serif;
  margin: 0;
  background-image: linear-gradient(260deg, #2376ae 0%, #c16ecf 100%);
}

a {
  color: white;
  font-weight: 100;
  letter-spacing: 2px;
  text-decoration: none;
  background: rgba(0, 0, 0, 0.2);
  padding: 20px 5px;
  display: inline-block;
  width: 100%;
  text-align: center;
  transition: all 0.5s;
}

a:hover {
  background: rgba(0, 0, 0, 0.3);
}

.wrapper {
  max-width: 1000px;
  margin: 0 auto;
  padding: 50px;
}

/* Flex Container */
.flex-nav ul {
  border: 1px solid black;
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
}

/* DESKTOP SCREEN */
/* Assign a default amount of space for all list items so they all take up the same amount */
li {
  width: 100%;
}

/* Assign a smaller amount of space specifically for the social media icons */
/* 25% means that each non-social list item gets 4 times as much space as each list item with class = social */
.social {
  width: 25%;
}

/* SMALLER SCREEN */
@media all and (max-width: 1000px) {
  /* Set the flex container to wrap, so that if items drop to the next row if they exceed the container width */
  .flex-nav ul {
    flex-wrap: wrap;
  }

  /* Set the default width for all list items to 50%, so that two will fit on each row */
  /* Any list items with the class "social" will still have a width = 25% */
  li {
    width: 50%;
  }
}

/* SMALLEST SCREEN */
@media all and (max-width: 500px) {
}
